@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* General */
body {
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
}

h1 {
    font-size: 36px;
}

a:link {
  color: inherit;
  transition: color 0.1s ease-in-out;
}

a:visited {
  color: inherit;
}

a:hover {
    color: #751aff;
}

/* Custom Button */
.button {
  background-color: rgba(0, 0, 0, 0.0);
  border: none;
  outline: none;
  color: rgba(0, 0, 0, 0.5);
  padding: 15px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 84px;
  font-family: inherit;
  text-transform: uppercase;
  text-transform: italic;
  transition: color 0.1s ease-in-out;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    color: #751aff;
    cursor: pointer;
}

.button-clicked {
    color: #751aff;
}

/* Custom Radio */
label {
  margin-right: 15px;
  line-height: 32px;
}

input[type='Radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 23px;
  height: 23px;

  background: #d3d3d3;
  opacity: 0.7;

  border: 2px solid #999;
  transition: 0.1s all linear;
  webkit-transition: 0.1s all linear;

  position: relative;
  top: 6px;
  left: -2px;
}

input[type='Radio']:hover {
    opacity: 1;
    cursor: pointer;
}

input[type='Radio']:active {
    outline: none;
}

input[type='Radio']:checked {
    outline: none;
    border: 6px solid #262626;
}

/* Custom Slider */
.slider {
  -webkit-appearance: none;
  width: 128px;
  height: 16px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .1s;
  transition: opacity .1s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #262626;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #262626;
  cursor: pointer;
}

.flex-container {
    width:600px;
    margin-left: 20%;
    margin-top: 20vh;
}

/* Resize properly */
@media only screen and (max-width: 800px) {
    .flex-container {
        width:90%;
        max-width:500px;
        margin-left: 5%;
        margin-top: 20vh;
    }
    .button {
        font-size: 64px;
    }
}

/* Accordion for Extra Controls */
.accordion > input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

.accordion .content {
  overflow-y: hidden;
  height: 0;
  transition: height 0.3s ease;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  height: auto;
  overflow: visible;
}

.accordion label {
  display: block;
}

.accordion {
  margin-bottom: 1em;
}

.accordion > input[type="checkbox"]:checked ~ .content {
  padding: 15px;
  border-left: 1px solid #e8e8e8;
  border-top: 0;
}

.accordion .handle {
  margin: 0;
  font-size: 1.125em;
  line-height: 1.2em;
}

.accordion label {
  color: #333;
  cursor: pointer;
  font-weight: normal;
  padding: 15px;
  background: rgb(224, 224, 224);
}

.accordion label:hover,
.accordion label:focus {
  background: rgb(212, 212, 212);
}

.accordion .handle label:before {
  /*font-family: 'fontawesome';*/
  /*content: "\f054";*/
  content:">";
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
  line-height: 1.556em;
  vertical-align: middle;
}

.accordion > input[type="checkbox"]:checked ~ .handle label:before {
  /*content: "\f078";*/
  content: "v";
}

.accordion p:last-child {
  margin-bottom: 0;
}

/* Footer */
footer {
    position: absolute;
    bottom: 0px;
    right: 4px;
    height: 35px;
    margin: 0px 50px 0px 0px;
    text-align: right;
    padding: 10px 20px;
    font-style: italic;
    font-size: 16px;
}
